body {
    background: #ddd;
    font-family: Arial, sans-serif;
}

.container-box {
    background: white;
    border: 2px solid black;
    margin-top: 30px;
    padding: 0;
}

.header {
    border-bottom: 2px solid black;
    padding: 20px;
}

.foto {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 3px solid #00bfff;
}

.left {
    border-right: 2px solid black;
    padding: 20px;
}

.right {
    padding: 20px;
}

.footer {
    border-top: 2px solid black;
    padding: 15px;
    text-align: center;
}

h2 {
    margin: 0;
}

.section-title {
    margin-top: 20px;
    font-weight: bold;
}
